* {
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100%;
}

.sidebar {
    background-color: dodgerblue;
    grid-row: 1 / 4;
}

.header {
    background-color: honeydew;
    grid-column: 2;
}

.main-content {
    background-color: gray;
    grid-row: 2 / 4;

}